@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
html {
	height: 100%;
}

body {
	font-family: 'Fjalla One', sans-serif;
	background: linear-gradient(to bottom, #F6BF5D 0%, #FFF2A7 100%);
}

.container {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	display: block;
	position: absolute;
	max-width: 260px;
}

.bodytext {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	display: block;
	position: absolute;
	max-width: 660px;
}

.start {
	position: relative;
	transform: translateX(-50%) rotate(-10deg);
	color: #53A5E9;
	text-transform: uppercase;
	cursor: pointer;
	transform: skew(-10deg);
	display: block;
	float: left;
	/*text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;*/
	text-shadow: 2px 2px #533d4a;
	font-size: 25px;
}

.left {
	position: relative;
	transform: translateX(-50%) rotate(-10deg);
	color: #53A5E9;
	text-transform: uppercase;
	cursor: pointer;
	transform: skew(-10deg);
	display: block;
	float: left;
	/*text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;*/
	text-shadow: 2px 2px #533d4a;
	font-size: 25px;
}

.right {
	position: relative;
	transform: translateX(-50%) rotate(-10deg);
	color: #53A5E9;
	text-transform: uppercase;
	cursor: pointer;
	transform: skew(-10deg);
	display: block;
	float: right;
	/*text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;*/
	text-shadow: 2px 2px #533d4a;
	font-size: 25px;
}

h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 50px;
	margin: 0;
	line-height: 47px;
	letter-spacing: 2px;
}

.title {
	transform: translateX(-50%) rotate(-10deg);
	display: block;
	float: left;
	position: relative;
	transform: skew(-10deg);
	display: block;
	float: left;
	/*text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;*/
	text-shadow: 3px 3px #533d4a;
}

h2 { 
	text-transform: lowercase;
	font-size: 30px;
	margin: 0;
	line-height: 47px;
	letter-spacing: 2px;
}

/*main title text*/
.title:nth-child(1) {
	color: #ED97CC;
}
.title:nth-child(2) {
	color: #92DFB6;
}
.title:nth-child(3) {
	color: #EE5968;
}

div {
	color: #fff;
	text-transform: lowercase;
	font-size: 30px;
	margin: 0;
	line-height: 47px;
	letter-spacing: 2px;
}

.text {
	transform: translateX(-50%);
	display: block;
	float: left;
	position: relative;
	transform: skew(-10deg);
	display: block;
	float: left;
	/*text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;*/
	text-shadow: 3px 3px #533d4a;
}

/*paragraph text*/
.text:nth-child(1) {
	color: #EE5968;
}

.playerName {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
.playerName.border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #07f;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}
.playerName input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 2px solid #92DFB6;
  background: none;
  border-radius: 0;
  color: #ED97CC;
  transition: all 0.15s ease;
}
